.black-text{
  color: rgb(7, 6, 5);
}

.bg-gray{
  background-color: rgb(203, 197, 191);
}

.container {
  max-width: 400px;
}

input[type=text],
input[type=text]:focus {
  color: rgb(7, 6, 5);
  border: none;
  background: rgba(213,209,204);
  max-width: 400px;
}

.todos-container li {
  color: rgb(7, 6, 5);
  background: rgba(183, 177, 172)

}

.delete {
  cursor: pointer;
}

.hidden{
  display: none;
}